{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron">
        <h1>Self-Managing News Environment</h1>
        <p class="lead">Seja bem-vindo ao Ambiente Virtual de Notícias Autogerenciável</p>
        {% if session.logged_in == NUL %}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif%}
      </div>
      <div>
	   	{% for article in articles %}
		   <h2>{{article.title}}</h2>
		    <small>Written by {{article.author}} on {{article.create_date}}</small>
			     <div>
	  	 	       {{article.body | safe}}
   			     </div>
   			   <hr>
   			   <br>
   			   <br>
	   	{% endfor %}
	   </div>
{% endblock %}